$lightColor: white;
$textLightColor: #fefefb;
$bodyBgColor: #ebebeb;
$bgMenuScroll: rgba(159, 154, 207, .82);
$darkColor: #2c4058;
$buttonColor:#7d7a7c;
$darkTextColor:#665f60;
$teamTextColor: #9f9acf;
$iconHoverColor: #7d7a7c;
$marginForCenter: 0 auto;
$bgColorForm: rgba(235, 235, 235, 0.5);
